NEXT_PUBLIC_SUPABASE_URL=https://rrhwiqdjwiytrrfszniw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
OPENROUTER_API_KEY=
OPENROUTER_TEXT_MODEL=openai/gpt-4o-mini
OPENROUTER_VISION_MODEL=openai/gpt-4o-mini
